<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>تفاصيل الخدمة</h2>
        </div>
    </div>
  </div>
  
  <section class="blog-details-area ptb-100">
    <div class="container">
      <div class="contact-inner">
        <div class="blog-details-desc">
          <div class="row">
            <div class="col-lg-8 col-12 d-flex align-items-center">
              <div class="article-content">
                  <div class="entry-meta">
                    <ul>
                        <li>اسم الكاتيجوري</li>
                    </ul>
                  </div>
                  <h3>اسم الخدمة</h3>
                  <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. </p>
                  <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. </p>
                  <div class="banner-btn mt-4">
                    <div class="d-flex">
                        <a href="https://google.com" class="default-btn ms-2">
                            رابط الخدمة
                        </a>
                        <a href="https://google.com" class="default-btn discount">
                            كود الخصم 
                            <div class="d-inline-block fw-bold me-2">#SaudiCEO</div>
                          </a>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
              <div class="article-image">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="assets/img/blog-image/img3.jpg" class="d-block w-100" alt="image">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/img/blog-image/img3.jpg" class="d-block w-100" alt="image">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/img/blog-image/img3.jpg" class="d-block w-100" alt="image">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>