<div class="page-title-area">
  <div class="container">
      <div class="page-title-content">
          <h2>الدليل</h2>
      </div>
  </div>
</div>

<section class="feedback-area ptb-100">
  <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-end align-items-center mb-3">
          <button type="button" class="default-btn ms-3 wow fadeInUp" data-bs-toggle="modal" data-bs-target="#changeData">
            طلب تحديث بيانات
            <span></span>
          </button>
          <form class="d-flex wow fadeInUp">
            <input type="search" class="form-control" [(ngModel)]="filterTerm" [ngModelOptions]="{standalone: true}" placeholder="ابحث هنا ...">
          </form>
        </div>
        <div class="col-lg-4 col-md-6" 
          *ngFor="let item of guideListItems 
            | filter:filterTerm 
            | paginate: { 
              itemsPerPage: 6, 
              currentPage: p 
            }">
          <a class="single-feedback-item wow fadeInUp" data-wow-delay=".3s" routerLink="/guide/{{item.id}}">
            <div class="guide-logo">
              <img src="assets/img/team-image/{{item.imgName}}" alt="image">
              <div class="feedback-desc">
                  <div class="client-info">
                      <h3>{{item.name}}</h3>
                      <span>{{item.job}}</span>
                  </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-12">
          <div class="d-flex justify-content-center">
            <pagination-controls 
              class="pagination-area"
              previousLabel="السابق" 
              nextLabel="التالى" 
              (pageChange)="p = $event">
            </pagination-controls>
          </div>
        </div>
      </div>
  </div>
</section>

<div class="modal fade" id="changeData" tabindex="-1" aria-labelledby="changeDataLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">طلب تحديث بيانات</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="contactForm">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label for="name" class="col-form-label">الاسم</label>
                  <input type="text" name="name" id="name" class="form-control" required placeholder="الاسم">
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label for="job" class="col-form-label">المنصب</label>
                  <input type="text" name="job" id="job" class="form-control" required placeholder="المنصب">
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label for="email" class="col-form-label">البريد الإلكتروني</label>
                  <input type="email" name="email" id="email" class="form-control" required
                    placeholder="البريد الإلكتروني">
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label for="phone_number" class="col-form-label">رقم الجوال</label>
                  <input type="text" name="phone_number" id="phone_number" required class="form-control"
                    placeholder="رقم الجوال">
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label for="cv_text" class="col-form-label">السيرة الذاتية</label>
                  <input type="text" name="cv_text" id="cv_text" class="form-control" required
                    placeholder="السيرة الذاتية">
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label for="name" class="col-form-label">الاسم</label>
                  <textarea name="message" class="form-control p-3 h-auto" id="message" rows="6" required
                    placeholder="الرسالة"></textarea>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label for="formFile" class="form-label">ارفاق ملف السيرة (غير الزامي)</label>
                  <input class="form-control" type="file" id="formFile">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="default-btn" data-bs-dismiss="modal">ارسال</button>
      </div>
    </div>
  </div>
</div>