<div class="page-title-area">
  <div class="container">
      <div class="page-title-content">
          <h2>الدليل</h2>
          <!-- <p>Drop us Message for any Query</p> -->
      </div>
  </div>
</div>

<section class="feedback-area ptb-100">
  <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6" *ngFor="let item of guideListItems">
          <a class="single-feedback-item wow fadeInUp" data-wow-delay=".3s" routerLink="/guide/{{item.id}}">
            <div class="guide-logo">
              <img src="assets/img/team-image/{{item.imgName}}" alt="image">
              <div class="feedback-desc">
                  <div class="client-info">
                      <h3>{{item.name}}</h3>
                      <span>{{item.job}}</span>
                  </div>
              </div>
            </div>
          </a>
        </div>
      </div>
  </div>
</section>
