.default-btn {
    margin-bottom: 0;
    padding-left: 25px;
}
  
form {
    .form-control {
        padding: 0.65rem 0.75rem;
        &:focus {
            box-shadow: none;
            border-color: #45a887;
        }
    }
}

