<footer class="footer-area">
    <div class="divider"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <a routerLink="/"><img src="../../../assets/img/logo-white.svg" alt="image"></a>
                    </div>
                    <p>التنفيذيون السعوديون.. أول منصة سعودية تعني بشؤون المدراء التنفيذيين بالمملكة، وتقدم مجموعة من الخدمات التي تهم الأفراد والجهات ذات العلاقة</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <ul class="services-list">
                        <li><a routerLink="/">الرئيسية</a></li>
                        <li><a routerLink="/news">الاخبار</a></li>
                        <li><a routerLink="/report">التقارير</a></li>
                        <li><a routerLink="/guide">الدليل</a></li>
                        <li><a routerLink="/service">الخدمات</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
              <div class="single-footer-widget">
                  <ul class="services-list">
                      <li><a routerLink="/about">من نحن</a></li>
                      <li><a routerLink="/contact">اتصل بنا</a></li>
                      <li><a routerLink="/decleration">اخلاء المسؤلية</a></li>
                      <li><a routerLink="/terms">شروط الاستخدام</a></li>
                  </ul>
              </div>
          </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <ul class="footer-contact-info">
                        <li>العنوان: <a href="" target="_blank">الرياض - المملكة العربيه السعودية</a></li>
                        <li>البريد الالكتروني: <a href="mailto:pr@saudiceos.com">pr@saudiceos.com</a></li>
                    </ul>
                    <ul class="social">
                        <li><a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <p>جميع الحقوق محفوظه 2021 &copy; <a href="http://envytheme.com/" target="_blank">الرؤساء التنفيذيين السعوديين</a></p>
        </div>
    </div>
</footer>

<div class="go-top"><i class='bx bx-chevron-up'></i></div>
