<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>الأخبار</h2>
        </div>
    </div>
</div>

<section class="blog-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6" *ngFor="let item of newsListItems">
                <div class="single-blog-post wow fadeInUp" data-wow-delay=".2s">
                    <div class="post-image">
                        <a routerLink="/news/{{item.id}}" (click)="getNewsItem(item.id)"><img src="assets/img/blog-image/{{item.imgName}}" alt="image"></a>
                        <div class="date"><i class='bx bx-calendar'></i> {{item.date}} </div>
                    </div>
                    <div class="post-content">
                        <h3><a routerLink="/news/{{item.id}}" (click)="getNewsItem(item.id)"> {{item.title}} </a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
