<section class="features-area pt-100 pb-70 bg-f4f6fc">
    <div class="container max-width-1290">
        <div class="section-title">
            <h2>خدمات التنفيذيين</h2>
            <p class="mt-2">"نسعى من خلال "خدمات التنفيذيين" إلى مساعدة زوار المنصة من الأفراد والشركات في الوصول إلى مزودي الخدمات
                ذات العلاقة بالقيادة التنفيذية، وذلك عبر شركاء متخصصين في تلك المجالات</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="features-box-one wow fadeInLeft" data-wow-delay=".1s">
                    <h6>خدمة 1</h6>
                    <i class='bx bx-cog bg-13c4a1'></i>
                    <h2 class="text-center mb-0 mt-3">خدمة 1</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="features-box-one wow fadeInLeft" data-wow-delay=".2s">
                    <h6>خدمة 2</h6>
                    <i class='bx bxs-check-shield bg-6610f2'></i>
                    <h2 class="text-center mb-0 mt-3">خدمة 2</h2>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-box-one wow fadeInLeft" data-wow-delay=".3s">
                    <h6>خدمة 3</h6>
                    <i class='bx bx-timer bg-ffb700'></i>
                    <h2 class="text-center mb-0 mt-3">خدمة 3</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-box-one wow fadeInLeft" data-wow-delay=".4s">
                    <h6>خدمة 4</h6>
                    <i class='bx bx-badge-check bg-fc3549'></i>
                    <h2 class="text-center mb-0 mt-3">خدمة 4</h2>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 justify-content-center">
                <div class="d-flex justify-content-center wow fadeInUp" data-wow-delay=".8s">
                    <a routerLink="/service" class="default-btn">
                        المزيد
                        <i class="bx bx-left-arrow-alt"></i>
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>