<div class="page-title-area">
  <div class="container">
      <div class="page-title-content">
          <h2>الأخبار</h2>
      </div>
  </div>
</div>

<section class="blog-details-area ptb-100">
  <div class="container">
    <div class="contact-inner">
      <div class="blog-details-desc">
        <div class="row">
          <div class="col-lg-4 col-12">
            <div class="article-image" *ngIf="newsListItems">
              <img src="assets/img/blog-image/{{newsListItems.imgName}}" alt="image">
            </div>
          </div>
          <div class="col-lg-8 col-12 d-flex align-items-center">
            <div class="article-content">
                <div class="entry-meta">
                  <ul>
                      <li><i class='bx bx-calendar'></i>{{newsListItems.date}}</li>
                  </ul>
                </div>
                <h3>{{newsListItems.title}}</h3>
                <p>{{newsListItems.disc_1}}</p>
                <p>{{newsListItems.disc_2}}</p>
                <p>{{newsListItems.disc_3}}</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="blog-details-area ptb-100">
  <div class="container">
    <div class="contact-inner">
      <div class="blog-details-desc">
        <div class="row">
          <div class="col-lg-4 col-12">
            <div class="article-image" *ngIf="newsListItems">
              <img src="assets/img/blog-image/img1.jpg" alt="image">
            </div>
          </div>
          <div class="col-lg-8 col-12 d-flex align-items-center">
            <div class="article-content">
                <div class="entry-meta">
                  <ul>
                      <li><i class='bx bx-calender'></i>Oct 14, 2020</li>
                  </ul>
                </div>
                <h3>50 world-changing work, We lost in the 2010s</h3>
                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. </p>
                <p>ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام 'هنا يوجد محتوى نصي، هنا يوجد محتوى نصي' فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب تستخدم لوريم إيبسوم بشكل إفتراضي كنموذج عن النص،</p>
                <p>وإذا قمت بإدخال 'lorem ipsum' في أي محرك بحث ستظهر العديد من المواقع الحديثة العهد في نتائج البحث. على مدى السنين ظهرت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة، وأحياناً عن عمد كإدخال بعض العبارات الفكاهية إليها.</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<app-shared-news [sectionTitle]="sectionTitle" [classes]="classes"></app-shared-news>

