<div class="saas-banner">
  <div class="d-table bg__maincolor--opacity ">
      <div class="d-table-cell">
          <div class="container max-width-1290">
              <div class="row align-items-start pt-5">
                  <div class="col-lg-6 col-md-12">
                      <div class="hero-content pl-4 pt-5">
                        <h1>منصة "الرئيس التنفيذي" في السعودية</h1>
                        <p>مبادرة ومنصة تعني بشؤون وأخبار "الرئيس التنفيذي" في السعودية</p>
                          <div class="banner-btn">
                              <div class="d-flex">
                                  <a routerLink="/guide" class="default-btn">
                                    الدليل
                                    <i class="bx bxs-hot"></i>
                                    <span></span>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="shape-rotate rotateme">
      <img src="assets/img/saas-shape/shape-rotate.png" alt="img">
  </div>
  <ng-particles class="particles" [id]="id" [options]="particlesOptions"></ng-particles>
</div>

<app-shared-news [sectionTitle]="sectionTitle" [classes]="classes"></app-shared-news>
<app-shared-report></app-shared-report>
<app-shared-service></app-shared-service>
<app-shared-gide></app-shared-gide>
<app-ads-baner></app-ads-baner>
